/*codigo feito por Rafael Borges e Matheus Filipe */
body {
    background-color: #2B2E2B;
    font-family: 'Nunito', sans-serif;
    color: #E2F4E1;
}

#titulo {
    font-family: 'Montserrat', sans-serif;
    background-color: #006B3C;
    color: #E2F4E1;
    text-align: center;
    height: 8vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    display: flex;
}

#ancoragem {
    position: fixed;
    top: 17%;
    right: 0;
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
    color: #E2F4E1;
    background-color: #004225;
    padding: 10px;
}

#ancoragem a {
    color: #E2F4E1;
    text-decoration: none;
}

#ancoragem a:visited {
    color: #9BCC9A;
}

#ancoragem a:hover {
    color: #D0E9D0;
}

#amb {
    font-family: 'Lora', serif;
    background-color: #004225;
    padding: 10px;
    max-width: 800px; 
    margin: 0 auto;
    border-radius: 5px;
    color: #E2F4E1; 
    font-weight: bold;
    text-align: center;
} 

#titamb {
    font-family: 'Montserrat', sans-serif;
    background-color: #00331F;
    color: #E2F4E1;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    padding: 10px;
}

#textamb {
    background-color: #003C2C;
    color: #E2F4E1;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
}

#preservação {
    font-family: 'Lora', serif;
    text-align: justify;
}

img {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: auto;
}

#sustentabilidade {
    background-color: #00331F;
    color: #E2F4E1;
    border-radius: 10px;
    font-family: 'Lora', serif;
    display: inline-block;
    text-align: justify;
    padding: 10px;
}

#titsus {
    font-family: 'Montserrat', sans-serif;
    background-color: #004225;
    color: #E2F4E1;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
}

#lix {
    font-family: 'Lora', serif;
    text-align: center;
    justify-content: center; 
    gap: 20px; 
    padding: 20px;
    color: #E2F4E1;
}

#centralix {
    display: flex;
    justify-content: space-evenly; 
    gap: 20px; 
    padding: 20px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

#lix details {
    text-align: center;
}

details {
    cursor: pointer;
}

#tabela {
    font-family: 'Lora', serif;
    text-align: center;
    background-color: #00331F;
    color: #E2F4E1;
    border-radius: 20px;
    padding: 10px;
}

#ancoragem details summary {
    background-color: #00331F;
    padding: 30px;
    cursor: pointer;
    border-radius: 5px;
    color: #E2F4E1;
    font-weight: bold;
    border: 3px groove #004225;
    box-shadow: 2px 4px #015E35;
}

details[open] summary::before {
    content: "ESTÁ PERDIDO?";
}

details summary::before {
    content: "ESTÁ PERDIDO? "; 
}

details ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

details[open] ul {
    padding: 10px;
    background-color: #004225;
    border-radius: 5px;
}

div.menu-bar ul ul {
    display: none;
}

.fundlix {
    background-color: #003C2C;
    border-radius: 20px;
    display: inline-block;
    padding: 10px;
}

.fundlixtit {
    background-color: #003C2C;
    border-radius: 20px;
    padding: 10px;
}

table {
    width: 360px;
    margin: auto;
    border-collapse: collapse;
    background-color: #2B2E2B;
    border-radius: 20px;
    color: #E2F4E1;
}

td {
    border: 4px groove #006B3C;
    padding: 8px;
    color: #E2F4E1;
} 

#textamb2 {
    background-color: #002617;
    color: #E2F4E1;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
}

tr:hover {
    background-color: #003C2C;
}

th {
    background-color: #002617;
    color: #E2F4E1;
    border-radius: 5px;
}

th:hover {
    background-color: #004225;
}
/*codigo feito por Rafael Borges e Matheus Felipe */